# dependencies
frontend/lunadashtsx/node_modules/
frontend/lunadashtsx/.pnp
frontend/lunadashtsx/.pnp.js
frontend/lunadashtsx/.yarn/install-state.gz

# testing
frontend/lunadashtsx/coverage/

# Next.js
frontend/lunadashtsx/.next/
frontend/lunadashtsx/out/

# production
frontend/lunadashtsx/build/

# misc
.DS_Store
frontend/lunadashtsx/*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local environment files
frontend/lunadashtsx/.env*.local

# Vercel deployment artifacts
frontend/lunadashtsx/.vercel/

# TypeScript
frontend/lunadashtsx/*.tsbuildinfo
frontend/lunadashtsx/next-env.d.ts

# Django Virtual Env
backend/venv/