#dashContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#dashContainer table {
    th, td {
    border: 1px solid black;
    padding: 8px;
    }
}

.chartContainer {
    border: 1px green solid;
  }

.chartContainer canvas {
    height: 400px;
}

@media only screen and (min-width: 320px) {
    #dashContainer {
        align-items: start;
    }
    #dashContainer table {
        width: 100%;
    }
}

@media (min-width: 822px)  {
    #dashContainer {
        align-items: center;
    }
    #dashContainer table {
        width: 80%;
    }

}